@tailwind base;
@tailwind components;
@tailwind utilities;


.polygon {
    width: 200px;
    height: 200px;
    background-color: #7E57C2;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.menu .link::after {
    content: "";
    display: block;
    height: 0.1rem;
    background: #7C70B0; 
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
    animation: fade-in 0.3s ease-in-out;
}

.menu .link:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.menu .link.no-animation::after {
    animation: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.marquee-rtl {
    max-width: full-width;                     
    margin: 1em auto 2em;
    overflow: hidden;                     
  }

  /* le bloc défilant */
.marquee-rtl > :first-child {
    display: inline-block;                
    padding-right: 2em;                  
    /* padding-left: 100%;                   */
    white-space: nowrap;                  
    animation: defilement-rtl 15s infinite linear;
  }

  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }